<nav class="navbar">
  <a href="/" class="navbar-brand">
    <div class="logo">
      <img src="/img/ASK.me.png" alt="" id="img" />
    </div>
  </a>

  <ul>
    <li><a href="/perguntar">Pergunte algo!</a></li>
    <li>
      <a href="/comunidade" target="_blank" class="btn-community"
        >Join The Community</a
      >
    </li>
  </ul>
</nav>
